# ignore vscode settings
.vscode

# ignore directory
__pycache__/

# ignore file type
*.ipynb

# ignore test files
test.py
*tests*
*temp*

# adviced ignore
*.pyc
.cache/*
*.swp
docs/_build/*
docs/build/*